
<div class = "recipeCard">
  <div class = "recipeCardImage">
   <a href="/recipe/{{id}}"><img src="{{image}}"></a> 
  </div>
  <div class = "recipeCardDetails">
    <a href="/recipe/{{id}}"><h1>{{title}}</h1><br>
<p>{{description}}</p></a>
  </div>
  
</div>
